<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to "PhotoApp", root_path, class: "navbar-brand", id: "logo" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li><%= link_to "Link1", "/path1", class: "nav-link" %></li>
        <li><%= link_to "Link2", "/path2", class: "nav-link" %></li>
        <li><%= link_to "Link3", "/path3", class: "nav-link" %></li>
      </ul>
      <ul class="nav navbar-right col-md-4">
        <% if current_user %>
          <li class="col-md-8 user-name">
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,
                          edit_user_registration_path, title: "Edit Profile", class: "nav-link" %>
          </li>
          <li class="col-md-1">&nbsp;</li>
          <li class="col-md-3 logout">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-xs btn-danger" %>
          </li>
        <% else %>
          <li class="col-md-4 pull-right">
            <%= link_to('Sign In', new_user_session_path, class: "btn btn-primary", title: 'Sign In') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>